.idea
target
# see gitignore documentation: https://git-scm.com/docs/gitignore

#==============#
# DIRECTORIES: #
#==============#

bin/
build/
cmake-build-*/
dist/
nbbuild/
nbdist/
nbproject/private/
out/
target/
test-output/
tmp/

#=============#
# FILE TYPES: #
#=============#

hs_err_pid*

*.apt_generated
*.autotools
*.bak
*.buildpath
*.cache-main
*.class
*.classpath
*.cproject
*.credentials
*.ctxt
~$*.doc*
*.ear
*.externalToolBuilders
*.factorypath
*.gradle
*.idea
*.idea_modules
*.iml
*.ipr
*.iws
*.jar
*.launch
*.loadpath
*.~lock.*
*.log
*.metadata
*.mvn
*.mtj.tmp
*.nar
*.nb-gradle
*~.nib
*.project
*.pydevproject
*.rar
*.recommenders
*.scala_dependencies
*.settings
*.springBeans
*.sts4-cache
*.svn
*.swp
*.tar*
*.target
*.tern-project
*.texlipse
*.tmp
*.vscode
*.war
*.worksheet
*.xlk
~$*.xls*
*.zip

#===================#
# INDIVIDUAL FILES: #
#===================#

atlassian-ide-plugin.xml
buildNumber.properties
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
dependency-reduced-pom.xml
fabric.properties
local.properties
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
EOTSql.java